In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('hostpital.csv')

In [8]:
df

,Hospital name,Phone number,Street address,Suburb,Postcode,State,Local Hospital Network (LHN),Primary Health Network area (PHN),Website,Description,Sector,Beds,Latitude,Longitude,Hospital_ID
0,Abbotsford Private Hospital,08 9200 6282,61 Cambridge Street,West Leederville,6007,WA,NaN,NaN,www.abbotsfordhospital.com.au,NaN,Private,<50,-31.940992,115.837344,1
1,Adelaide Clinic,08 8269 8100,33 Park Terrace,Gilberton,5081,SA,NaN,NaN,www.adelaideclinic.com.au/,NaN,Private,50-99,-34.906580,138.613167,2
2,Adelaide Day Surgery Pty Ltd,08 8239 4900,18 North Terrace,Adelaide,5000,SA,NaN,NaN,http://www.curagroup.com.au/adelaide-day-surgery,NaN,Private,<50,-34.922409,138.588817,3
3,Adelaide Eye & Laser Centre,08 8274 7000,215 Greenhill Road,Eastwood,5063,SA,NaN,NaN,www.aelc.com.au,NaN,Private,NaN,-34.940420,138.621500,4
4,Adelaide Surgicentre,08 8211 0000,89 King William Street,Kent Town,5067,SA,NaN,NaN,www.asec.net.au,NaN,Private,<50,-34.917691,138.621022,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,Yarrawonga District Health Service,03 5743 8111,33 Piper Street,Yarrawonga,3730,Vic,Yarrawonga District Health Service,Murray,http://www.yh.org.au/,Small hospital,Public,<50,-36.011547,146.006584,1007
1007,Yass Hospital,02 6220 2000,145-147 Meehan Street,Yass,2582,NSW,Southern NSW,South Eastern NSW,NaN,Regional hospital with an emergency department,Public,<50,-34.844072,148.906427,1008
1008,Yea & District Memorial Hospital,03 5736 0400,45 Station Street,Yea,3717,Vic,Yea and District Memorial Hospital,Murray,NaN,Regional hospital,Public,<50,-37.213634,145.430724,1009
1009,York Hospital,08 9641 0200,Trews Road,York,6302,WA,WA Country Health Service,Country WA,www.health.wa.gov.au/services/detail.cfm?Unit_...,Regional hospital,Public,<50,-31.894392,116.757416,1010
1010,Young Hospital,02 6382 8888,68 Allanan Street,Young,2594,NSW,Murrumbidgee,Murrumbidgee,NaN,Small hospital with an emergency department,Public,<50,-34.320383,148.288457,1011

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Hospital name                      1011 non-null   object
 1   Phone number                       1007 non-null   object
 2   Street address                     1010 non-null   object
 3   Suburb                             1010 non-null   object
 4   Postcode                           1011 non-null   int64
 5   State                              1011 non-null   object
 6   Local Hospital Network (LHN)       690 non-null    object
 7   Primary Health Network area (PHN)  694 non-null    object
 8   Website                            776 non-null    object
 9   Description                        689 non-null    object
 10  Sector                             1011 non-null   object
 11  Beds                               967 non-null    object
 12  Latitude                           1011 non-null   float64
 13  Longitude                          1011 non-null   float64
 14  Hospital_ID                        1011 non-null   int64
dtypes: float64(2), int64(2), object(11)
memory usage: 75.1+ KB

In [38]:
z=df[['Postcode','Latitude','Longitude','Hospital_ID']]

In [23]:
df.Postcode

0       6007
1       5081
2       5000
3       5063
4       5067
        ...
1006    3730
1007    2582
1008    3717
1009    6302
1010    2594
Name: Postcode, Length: 1011, dtype: int64

In [39]:
z

      Postcode   Latitude   Longitude  Hospital_ID
0         6007 -31.940992  115.837344            1
1         5081 -34.906580  138.613167            2
2         5000 -34.922409  138.588817            3
3         5063 -34.940420  138.621500            4
4         5067 -34.917691  138.621022            5
...        ...        ...         ...          ...
1006      3730 -36.011547  146.006584         1007
1007      2582 -34.844072  148.906427         1008
1008      3717 -37.213634  145.430724         1009
1009      6302 -31.894392  116.757416         1010
1010      2594 -34.320383  148.288457         1011

[1011 rows x 4 columns]

In [24]:
df.Postcode.min()

np.int64(810)

In [25]:
df.Postcode.max()

np.int64(7467)

In [26]:
df.notnull()

,Hospital name,Phone number,Street address,Suburb,Postcode,State,Local Hospital Network (LHN),Primary Health Network area (PHN),Website,Description,Sector,Beds,Latitude,Longitude,Hospital_ID
0,True,True,True,True,True,True,False,False,True,False,True,True,True,True,True
1,True,True,True,True,True,True,False,False,True,False,True,True,True,True,True
2,True,True,True,True,True,True,False,False,True,False,True,True,True,True,True
3,True,True,True,True,True,True,False,False,True,False,True,False,True,True,True
4,True,True,True,True,True,True,False,False,True,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1007,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
1008,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
1009,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1010,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True

In [28]:
x=pd.notnull(df["State"])

In [29]:
x

0       True
1       True
2       True
3       True
4       True
        ...
1006    True
1007    True
1008    True
1009    True
1010    True
Name: State, Length: 1011, dtype: bool

In [30]:
from sklearn import preprocessing

In [33]:
y=df.fillna(df.Postcode.min())

In [34]:
y

,Hospital name,Phone number,Street address,Suburb,Postcode,State,Local Hospital Network (LHN),Primary Health Network area (PHN),Website,Description,Sector,Beds,Latitude,Longitude,Hospital_ID
0,Abbotsford Private Hospital,08 9200 6282,61 Cambridge Street,West Leederville,6007,WA,810,810,www.abbotsfordhospital.com.au,810,Private,<50,-31.940992,115.837344,1
1,Adelaide Clinic,08 8269 8100,33 Park Terrace,Gilberton,5081,SA,810,810,www.adelaideclinic.com.au/,810,Private,50-99,-34.906580,138.613167,2
2,Adelaide Day Surgery Pty Ltd,08 8239 4900,18 North Terrace,Adelaide,5000,SA,810,810,http://www.curagroup.com.au/adelaide-day-surgery,810,Private,<50,-34.922409,138.588817,3
3,Adelaide Eye & Laser Centre,08 8274 7000,215 Greenhill Road,Eastwood,5063,SA,810,810,www.aelc.com.au,810,Private,810,-34.940420,138.621500,4
4,Adelaide Surgicentre,08 8211 0000,89 King William Street,Kent Town,5067,SA,810,810,www.asec.net.au,810,Private,<50,-34.917691,138.621022,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,Yarrawonga District Health Service,03 5743 8111,33 Piper Street,Yarrawonga,3730,Vic,Yarrawonga District Health Service,Murray,http://www.yh.org.au/,Small hospital,Public,<50,-36.011547,146.006584,1007
1007,Yass Hospital,02 6220 2000,145-147 Meehan Street,Yass,2582,NSW,Southern NSW,South Eastern NSW,810,Regional hospital with an emergency department,Public,<50,-34.844072,148.906427,1008
1008,Yea & District Memorial Hospital,03 5736 0400,45 Station Street,Yea,3717,Vic,Yea and District Memorial Hospital,Murray,810,Regional hospital,Public,<50,-37.213634,145.430724,1009
1009,York Hospital,08 9641 0200,Trews Road,York,6302,WA,WA Country Health Service,Country WA,www.health.wa.gov.au/services/detail.cfm?Unit_...,Regional hospital,Public,<50,-31.894392,116.757416,1010
1010,Young Hospital,02 6382 8888,68 Allanan Street,Young,2594,NSW,Murrumbidgee,Murrumbidgee,810,Small hospital with an emergency department,Public,<50,-34.320383,148.288457,1011

In [36]:
scaler = preprocessing.MinMaxScaler()

In [40]:
x = scaler.fit_transform(z)

In [41]:
x

array([[7.80681989e-01, 3.47537025e-01, 4.79682890e-02, 0.00000000e+00],
       [6.41580291e-01, 2.56920386e-01, 5.49502366e-01, 9.90099010e-04],
       [6.29412648e-01, 2.56436715e-01, 5.48966168e-01, 1.98019802e-03],
       ...,
       [4.36683191e-01, 1.86425942e-01, 6.99628101e-01, 9.98019802e-01],
       [8.24996245e-01, 3.48960937e-01, 6.82286967e-02, 9.99009901e-01],
       [2.67988583e-01, 2.74832248e-01, 7.62556693e-01, 1.00000000e+00]],
      shape=(1011, 4))

In [49]:
frame=pd.DataFrame(x,columns=["Postcode","Latitude","longitude","Hospital_id"])

In [50]:
frame

      Postcode  Latitude  longitude  Hospital_id
0     0.780682  0.347537   0.047968      0.00000
1     0.641580  0.256920   0.549502      0.00099
2     0.629413  0.256437   0.548966      0.00198
3     0.638876  0.255886   0.549686      0.00297
4     0.639477  0.256581   0.549675      0.00396
...        ...       ...        ...          ...
1006  0.438636  0.223157   0.712309      0.99604
1007  0.266186  0.258830   0.776165      0.99703
1008  0.436683  0.186426   0.699628      0.99802
1009  0.824996  0.348961   0.068229      0.99901
1010  0.267989  0.274832   0.762557      1.00000

[1011 rows x 4 columns]